.container {
    width: 60%;
    height: 60%;
    border: 5px solid black;
    display: flex;
}

.container:after {
    content: "";
    padding-bottom: 100%;
}

.row {
    border: 1px solid gray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pixel {
    border: 1px solid gray;
    flex-grow: 1;
}

.filled {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}